* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.cursor {
  position: fixed;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: white;
  transition: transform 1000ms;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference; }

.cursor.large {
  transform: scale(6); }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 5vw 25px 3vw; }
  .header .header__logo {
    max-width: 5vh; }
  .header .navbar__items {
    display: flex;
    gap: 3rem; }
  .header .open-menu,
  .header .close-menu {
    display: none; }

.Shop-now__buttom {
  background-color: #607d8b;
  color: white;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  height: 5vh;
  width: 19vw;
  margin-top: 5%;
  transition: all 1s;
  cursor: pointer; }

.Shop-now__buttom:hover {
  background-color: white;
  color: #607d8b;
  border: 3px solid #607d8b;
  font-weight: bold; }

.home-body {
  background-image: url(/Images/Home-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.navbar__link {
  color: white;
  font-weight: bold;
  font-size: 20px; }

.navbar__link:hover {
  border-bottom: 1px solid #607d8b; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 5vw;
  top: 20vh; }
  .section .section__title-1 {
    font-family: "Righteous", cursive;
    font-size: 80px;
    color: #607d8b; }
  .section .section__title-2 {
    font-family: "Righteous", cursive;
    font-size: 80px;
    color: white;
    width: 30vw; }

.signup-main {
  background: black;
  background-image: url(/Images/mayra-moretti-por3FNwFCbs-unsplash.jpg);
  background-size: 50vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  height: 100vh; }

.container {
  position: absolute;
  top: 20vh;
  left: 60%;
  padding: 50px 60px 50px 60px;
  border: 8px solid black;
  border-radius: 20px;
  box-shadow: -5px -5px 15px #607d8b, 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px #607d8b, inset 5px 5px 15px rgba(0, 0, 0, 0.35); }
  .container .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px; }
    .container .form h2 {
      color: white;
      font-family: "Righteous", cursive;
      font-size: 40px;
      font-weight: 500; }
    .container .form .inputBox {
      position: relative;
      width: 300px; }
      .container .form .inputBox input {
        padding: 12px 10px 12px 48px;
        border: none;
        width: 100%;
        background: black;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        color: white;
        font-weight: 300;
        font-size: 16px;
        box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.2), 5px 5px 15px rgba(0, 0, 0, 0.35);
        transition: 0.5s;
        outline: none; }
      .container .form .inputBox input:valid ~ span,
      .container .form .inputBox input:focus ~ span {
        color: #00dfc4;
        border: 1px solid #607d8b;
        background: black;
        transform: translateX(25px) translateY(-7px);
        font-size: 0.6em;
        padding: 0.8px 4px;
        border-radius: 10px; }
      .container .form .inputBox input:valid,
      .container .form .inputBox input:focus {
        border: 1px solid #607d8b; }
      .container .form .inputBox span {
        position: absolute;
        left: 0;
        padding: 12px 10px 12px 48px;
        pointer-events: none;
        font-size: 14px;
        font-weight: 200;
        transition: 0.5s;
        color: rgba(255, 255, 255, 0.5); }
      .container .form .inputBox i {
        position: absolute;
        top: 15px;
        left: 16px;
        width: 25px;
        padding: 2px 0;
        padding-right: 8px;
        color: #607d8b;
        border-right: 1px solid #FFABD4; }
      .container .form .inputBox .submit {
        background: #607d8b;
        color: white;
        padding: 10px 0;
        letter-spacing: 0.8px;
        font-size: 16px;
        font-family: "Righteous", cursive;
        box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.3), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.3), inset 5px 5px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer; }
      .container .form .inputBox .success input {
        border-color: #09c372; }
      .container .form .inputBox .error {
        color: #ff3860;
        font-size: 9px;
        height: 13px; }
        .container .form .inputBox .error input {
          border-color: #ff3860; }
    .container .form p {
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px; }
      .container .form p a {
        font-weight: 500;
        color: #FFABD4;
        font-size: 14px;
        padding-left: 5px; }

.cart-btn {
  position: absolute;
  left: 95%;
  top: 95vh;
  position: fixed; }
  .cart-btn .nav-icon i {
    color: white; }
  .cart-btn .cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #804747;
    padding: 0 0.5px;
    border-radius: 20%;
    color: aliceblue; }

#main-shop {
  background: black;
  background-image: url(/Images/james-yarema-n-PmXmmOYQA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; }

.products {
  padding: 4rem 0; }
  .products .section-title h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 5rem;
    text-transform: capitalize;
    color: white;
    border: 1px solid white; }
  .products .products-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem; }
  .products .img-container {
    position: relative;
    overflow: hidden; }
  .products .img-container:hover .scart-btn {
    transform: translateX(0); }
  .products .img-container:hover .product-img {
    opacity: 0.5; }
  .products .scart-btn {
    position: absolute;
    top: 70%;
    right: 0;
    border: none;
    padding: 0.5rem 0.75rem;
    transform: translateX(101%);
    cursor: pointer; }
  .products .product-img {
    display: block;
    width: 100%;
    height: 50vh;
    min-height: 12rem; }
  .products .product h3 {
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center; }
  .products .product h4 {
    margin-top: 0.7rem;
    text-align: center; }

.cart-open {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden; }

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: #e7e2dd;
  padding: 1.5rem;
  transform: translateX(100%); }
  .cart .close-cart {
    font-size: 1.7rem;
    cursor: pointer; }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem; }
  .cart .cart-footer {
    margin-top: 2rem;
    text-align: center; }
    .cart .cart-footer h3 {
      margin-bottom: 1rem; }

.showCart {
  transform: translateX(0); }

.transparentBcg {
  visibility: visible; }

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px; } }

div .cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0; }
  div .cart-item img {
    width: 75px;
    height: 75px; }
  div .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize; }
  div .cart-item h5 {
    margin: 0.5rem 0; }

div .item-amount {
  text-align: center; }

div .fa-chevron-up,
div .fa-chevron-down {
  cursor: pointer; }
