.home-body{
    background-image:url(/Images/Home-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar__link{
    color: $tertiary-color;
	font-weight: bold;
    font-size: 20px;
}

.navbar__link:hover {
	border-bottom: 1px solid $primary-color;
}

.section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;
    left: 5vw;
	top: 20vh;
	.section__title-1{
		font-family: $secondary-typography;
		font-size: 80px;
		color: $primary-color;
	}
	.section__title-2{
		font-family: $secondary-typography;
		font-size: 80px;
		color: $tertiary-color;
		width: 30vw;
	}
}