.login-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #div-img{
        img{
            height: 100vh;
            width: 50vw;
        }
    }
    #form-user{
        background-color: black;
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        #div-login{
            position: absolute;
            bottom: 55%;
            h2{
                color: $tertiary-color;
                font-size: 80px;
                font-family: $secondary-typography;
            }
            p{
                color: $tertiary-color;
                font-size: 18px;
                font-family: $primary-typography;
                a{
                    color: $primary-color;
                    font-family: $secondary-typography;
                }
            }
        }
        #div-email{
                input{
                    width: 45%;
                    height: 25px;
                    margin-bottom: 25px;
                    border-radius: 20px;
                    background-color: rgb(215, 211, 211);
                    outline: none;
                    border: 0; 
                }
            }
            
        #div-password__input{
                width: 45%;
                height: 25px;
                border-radius: 20px;
                background-color: rgb(215, 211, 211);
                outline: none;
                border: 0; 
            }
        #div__remember-password{
            margin-top: 15px;
            label{
                color: $tertiary-color;
                font-size: 15px;
            }
        }
        #div-button{
            padding-top: 45px;
            button{
                width: 45%;
                height: 45px;
                border-radius: 20px;
                font-size: 18px;
                background-color: $primary-color;
                color: $tertiary-color;
            }
        }
    }
}