.cursor{
    position: fixed;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
    transition: transform 1000ms;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;
}

.cursor.large{
    transform: scale(6);
}
