.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 5vw 25px 3vw;
    .header__logo{
        max-width: 5vh;
    }
    
    .navbar__items{
        display: flex;
        gap: 3rem;
    }

.open-menu,
.close-menu {
    display: none;
    }

}